.body {
    background-color: #556b2f;
    color: #ffffff;
    margin: 0;
}

.header {
    background-color: darkkhaki;
    box-shadow: 0 0 2rem 1rem whitesmoke;
    border: rgb(252, 252, 202);  
    margin: 2rem;
    padding: 1rem 1rem 1rem 2rem;
}